<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let order of orders; let i = index" (click)="deleteOrder(i)">
      <ion-thumbnail slot="start">  
        <ion-img [src]="order.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ order.restaurantName }}</h2>
        <p>{{ order.dishName }}</p>
        <p>Quantity: {{ order.quantity }}</p>
        <p>Price: {{ order.price }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear">
        <ion-icon name="trash" size="large"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="stacked">Delivery Instructions</ion-label>
    <br>
    <ion-input [(ngModel)]="deliveryInstructions"></ion-input>
    <br>
  </ion-item>
  <ion-card>
    <ion-card class="cart-total-card">
      <ion-card-content class="cart-total-content">
        <ion-list>
          <ion-item>
            <ion-label>Delivery Fee</ion-label>
            <ion-label slot="end">$5</ion-label>
          </ion-item>
          <ion-item>
            <ion-label style="font-size: 2em;">Total</ion-label>
            <ion-label style="font-size: 2em;" slot="end">${{ calculateTotal() + 5 }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
     
    </ion-card>
    <br>
    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Deliver to Office</ion-label>
    </ion-item>
  </ion-card>
  <div class="container">
    <ion-button (click)="makePayment()">Make Payment</ion-button>
  </div>
</ion-content>